/* GLOBAL SETTINGS */

body {
  margin: 0;
  background-color: #22333b;
  color: white;
}

table {
  margin: 1rem;
  border-collapse: collapse;
  background-color: rgba(93, 103, 91, 0.3);
}

th,
td {
  border: 1px solid white;
  padding: 0.5rem;
}

textarea {
  min-height: 100px;
}

input {
  margin: 3px;
  box-shadow: 0px 1px 2px 1px #e5e1e1;
}

table {
  max-width: 800px;
}

h1 {
  text-align: center;
}

legend {
  font-size: 1.5rem;
}

.inventory-page-container,
.order-page-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.inventory-page-product-form-container {
  grid-column: span 1;
}

.inventory-page-product-list-container {
  grid-column: span 1;
}

.nav-link {
  margin: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: blue;
}

.nav-bar {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: rgba(93, 103, 91, 0.3);
}

/* PRODUCT/INVENTORY */

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  background-color: rgba(93, 103, 91, 0.3);
  text-align: center;
  border: none;
  box-shadow: 1px 1px 8px 2px #777;
}

.form-update-button,
.form-submit-button,
.product-delete-btn {
  font-weight: bold;
  background-color: #22333b;
  color: white;
}

.delete-product-button-container {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 2rem;
}

/* ORDERS */

/* .order-page-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 6rem;
} */

.order-page-order-list-container {
  grid-column: span 3;
  margin-top: 2rem;
}

.order-page-order-form-container {
  grid-column: span 3;
}

.order-page-product-list-container {
  grid-column: span 5;
}

/* HOME PAGE */

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  height: 100vh;
  background-color: white;
  color: black;
}

.home-manage-inventory-link {
  text-decoration: 0;
  color: black;
  font-size: 4rem;
}

.home-left-side:has(.home-manage-inventory-link:hover) {
  background-color: black;
}

.home-manage-inventory-link:hover {
  color: white;
  text-shadow: 0 0 12px rgba(255, 255, 255);
}

.home-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  height: 100vh;
  background-color: black;
}

.home-place-order-link {
  text-decoration: 0;
  color: white;
  font-size: 4rem;
}

.home-right-side:has(.home-place-order-link:hover) {
  background-color: white;
}

.home-place-order-link:hover {
  color: black;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/* LOGIN PAGE */

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 2rem;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(93, 103, 91, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 4px white;
  width: 100%;
  max-width: 360px;
  padding: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
}
